<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File output (logs/framework.log) -->
        <File name="FileLog" fileName="logs/framework.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <!-- Your project package root -->
        <Logger name="page_Object" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Logger>

        <Logger name="step_Definitions" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Logger>

        <Logger name="utils" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Logger>

        <!-- Root logger (fallback) -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>
